/* GLOBAL */
@import "./common/mixins.scss";
@import "./common/variables.scss";
@import "./common/fonts.scss";
@import "./common/global.scss";

/* BLOCKS */
@import "./blocks/header.scss";
@import "./blocks/adventure.scss";
@import "./blocks/adventures.scss";
@import "./blocks/button.scss";
@import "./blocks/catalog.scss";
@import "./blocks/compound.scss";
@import "./blocks/contacts.scss";
@import "./blocks/cooperation.scss";
@import "./blocks/example-cat.scss";
@import "./blocks/footer.scss";
@import "./blocks/html-academy-link.scss";
@import "./blocks/invitation-to-coopeartion.scss";
@import "./blocks/logo.scss";
@import "./blocks/navigation.scss";
@import "./blocks/product.scss";
@import "./blocks/programm-of-diet.scss";
@import "./blocks/programm-of-diets.scss";
@import "./blocks/promo.scss";
@import "./blocks/social-list.scss";
@import "./blocks/statistic.scss";
@import "./blocks/statistic-data.scss";
@import "./blocks/sub-catalog.scss";
@import "./blocks/sub-products.scss";
@import "./blocks/subscribe.scss";
