.adventures {
  padding-top: 23px;
  padding-bottom: 27px;
}

@media screen and (min-width: $tablet-width) {
  .adventures {
    padding-top: 42px;
    padding-bottom: 0;
  }
}

@media screen and (min-width: $desktop-width) {
  .adventures {
    padding-top: 0;
    width: 100%;
  }
}

.adventures__wrapper {
  box-sizing: border-box;
  padding: 0 $mobile-padding;
}

@media screen and (min-width: $tablet-width) {
  .adventures__wrapper {
    padding: 0 $tablet-padding 20px;
  }
}

@media screen and (min-width: $desktop-width) {
  .adventures__wrapper {
    padding: 50px 100px 0 $desktop-padding;
  }
}

.adventures__title {
  @include null;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
}

@media screen and (min-width: $tablet-width) {
  .adventures__title {
    font-size: 60px;
    line-height: 60px;
  }
}

.adventures__list {
  font-size: 14px;
  line-height: 28px;
  margin: 40px 0 0;
  padding: 0;
  list-style-type: none;
}

@media screen and (min-width: $tablet-width) {
  .adventures__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px 83px;
    padding: 70px 0 0;
    margin: 0;
  }
}

@media screen and (min-width: $desktop-width) {
  .adventures__list {
    margin: 0;
    padding: 74px 0 0;
    gap: 24px 75px;
    flex-wrap: wrap;
  }
}

.adventures__item {
  position: relative;
  padding: 0 0 24px 60px;
  min-height: 55px;
}

@media screen and (min-width: $tablet-width) {
  .adventures__item {
    padding: 85px 0 75px;
    max-width: 300px;
  }
}

@media screen and (min-width: $desktop-width) {
  .adventures__item {
    max-width: 250px;
  }
}

.adventures__item::before {
  font-size: 280px;
  line-height: 280px;
  position: absolute;
  top: -40px;
  left: 115px;
  z-index: -1;
  color: $gray-text;
}

.adventures__item::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: $third-bg;
}

@media screen and (min-width: $tablet-width) {
  .adventures__item::after {
    width: 80px;
    height: 80px;
  }
}

.adventures__item--leaf::after {
  background-image: url("../../icons/stack.svg#leaf");
}

.adventures__item--clock::after {
  background-image: url("../../icons/stack.svg#alarm");
}

.adventures__item--cutlery::after {
  background-image: url("../../icons/stack.svg#eat");
}

.adventures__item--glass::after {
  background-image: url("../../icons/stack.svg#glass");
}
