.adventures__title {
  font-size: 36px;
  line-height: 40px;
}

.adventures__list {
  font-size: 14px;
  line-height: 28px;
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

@media (min-width: $tablet-width) {
  .adventures__list {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: $desktop-width) {
  .adventures__list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
  }
}
