.adventure__icon {
  width: 1000px;
  height: 200px;
}

.adventure__icon--leaf {
  background-image: url("../../icons/stack.svg#leaf");
  background-color: #cccccc;
}

.adventure__icon--alarm {
  background-image: url("../../icons/stack.svg#alarm");
  background-color: #cccccc;
}

.adventure__icon--catlery {
  background-image: url("../../icons/stack.svg#eat");
  background-color: #cccccc;
}

.adventure__icon--glass {
  background-image: url("../../icons/stack.svg#glass");
  background-color: #cccccc;
}
