.cooperation iframe {
  height: 362px;
  width: 100%;

  // карта должна быть на секции и тянутся на 100%, затем нужен контейнер, который уже будет центирровать содержимое и в который ты вставишь iframe
}

@media screen and (min-width: $tablet-width) {
  .cooperation iframe {
    height: 400px;
  }
}

.cooperation__wrapper {
  display: flex;
  justify-content: space-between;
  background-color: $primary-bg;
  padding: 20px 23px 5px 20px;
}

@media screen and (min-width: 768px) {
  .cooperation__wrapper {
    padding: 56px 70px;
  }
}

@media screen and (min-width: $desktop-width) {
  .cooperation__wrapper {
    padding: 60px 80px;
    position: absolute;
    width: 565px;
    height: 199px;
    top: 24%;
    left: calc(50% - 615px);
    box-sizing: border-box;
  }
}

.cooperation__title {
  @include null;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  min-width: 130px;
}

@media screen and (min-width: $tablet-width) {
  .cooperation__title {
    font-size: 20px;
    line-height: 26px;
  }
}

.cooperation__adress {
  @include null;
  font-family: $regular-font;
  font-size: 14px;
  line-height: 20px;
  color: $balck-gray-text;
}

@media screen and (min-width: $tablet-width) {
  .cooperation__adress {
    text-align: right;
    font-size: 16px;
    line-height: 20px;
  }
}

@media screen and (min-width: $desktop-width) {
  .cooperation__adress {
    text-align: left;
  }
}

.cooperation__icon-wrapper {
  position: absolute;
  left: calc(50% - 25px);
  top: 51%;
}

@media screen and (min-width: $tablet-width) {
  .cooperation__icon-wrapper {
    left: calc(50% - 50px);
    top: 57%;
  }
}

@media screen and (min-width: $desktop-width) {
  .cooperation__icon-wrapper {
    left: calc(50% + 190px);
    top: 33%;
  }
}


@media screen and (min-width: $tablet-width) {
  .cooperation__text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
