.example-cat {
  background-color: $secondary-bg;
}

.example-cat__title {
  font-size: 36px;
  line-height: 40px;
}

.example-cat__description {
  font-family: $secondary-bg;
  font-size: 14px;
  line-height: 18px;
}

.example-cat__price {
  font-size: 14px;
  line-height: 20px;
}
