.footer {
  background-color: $secondary-bg;
}

.footer__html-academy-link {
  position: relative;
}

.footer__html-academy-link::after {
  position: absolute;
  content: "";
  mask-image: url("../../icons/stack.svg#html-academy");
  background-color: #000000;
  width: 27px;
  height: 24px;
}

.footer__html-academy-link:active {
  opacity: 0.2;
}
