.footer {
  background-color: $secondary-bg;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0 20px;
  width: 100%;
  box-sizing: border-box;
}

@media screen and (min-width: $tablet-width) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    padding: 30px $tablet-padding;
  }
}

@media screen and (min-width: $desktop-width) {
  .footer {
    padding: 50px $desktop-padding;
  }
}

.footer__title {
  padding: 0 0 20px;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media screen and (min-width: $tablet-width) {
  .footer__title {
    padding: 0 45px 10px 0;
  }
}

@media screen and (min-width: $tablet-width) {
  .footer__title {
    padding: 20px 45px 0 0;
  }
}

.footer__social-list {
  padding: 22px 0 0;
  margin: 0;
}

@media screen and (min-width: $desktop-width) {
  .footer__social-list {
    padding: 20px 0 0;
  }
}

.footer__html-academy {
  padding: 40px 10px 20px;
  position: relative;
  color: $brown-bg;
  cursor: pointer;

  &:hover {
    color: $green-text;
  }

  &:hover .html-academy__icon {
    background-color: $third-bg;
  }

  &:active {
    opacity: 0.3;
  }
}

@media screen and (min-width: $tablet-width) {
  .footer__html-academy {
    padding: 0 0 5px 20px;
  }
}

@media screen and (min-width: $desktop-width) {
  .footer__html-academy {
    padding: 20px 0 0 20px;
  }
}
