.list-of-diets {
  display: flex;
  flex-flow: column wrap;
  row-gap: 20px;
}

@media screen and (min-width: $tablet-width) {
  .list-of-diets {
    row-gap: 30px;
  }
}

@media screen and (min-width: $desktop-width) {
  .list-of-diets {
    justify-content: center;
    flex-direction: row;
    gap: 75px;
  }
}
