.logo {
  display: flex;
  align-items: center;
  gap: 40px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

@media screen and (min-width: $tablet-width) {
  .logo {
    gap: 0;
  }
}
