.logo {
  display: flex;
  align-items: center;
  padding-left: 15px;
  gap: 37px;
  justify-content: space-around;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

@media screen and (min-width: $tablet-width) {
  .logo {
    gap: 0;
    padding-left: 0;
  }
}
