.programm-of-diet {
  background-color: $secondary-bg;
  list-style: none;
  display: grid;
  grid-template-areas:
    "image       title"
    "description description"
    "button      button";
}

.programm-of-diets__list {
  margin: 0;
  padding: 0;
}

.programm-of-diet__logo-of-programm {
  background-color: $third-bg;
  background-size: 50px 50px;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  position: relative;
  grid-area: image;
}

.programm-of-diet__logo-cat {
  position: absolute;
  background-repeat: no-repeat;
}

.programm-of-diet__logo-cat--cat-sit {
  background-image: url("../../icons/stack.svg#cat-sit");
  width: 50px;
  height: 80px;
  left: 10px;
  top: -8px;
}

.programm-of-diet__logo-cat--cat-walk {
  background-image: url("../../icons/stack.svg#cat-walk");
  width: 80px;
  height: 40px;
  left: -12px;
  top: 15px;
}

.programm-of-diet__title {
  font-size: 24px;
  line-height: 34px;
  grid-area: title;
}

.programm-of-diet__description {
  font-family: $regular-font;
  font-size: 14px;
  line-height: 18px;
  grid-area: description;
}

.programm-of-diet__link {
  font-size: 16px;
  line-height: 16px;
  position: relative;
  grid-area: button;
}

.programm-of-diet__link::after {
  mask-image: url("../../icons/stack.svg#arrow-right");
  background-color: $black-bg;
  position: absolute;
  content: "";
  width: 24px;
  height: 12px;
}


.programm-of-diet__link:active {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .programm-of-diet {
    grid-template-areas:
      "title       image"
      "description image"
      "button      image";
  }
}

@media (min-width: $desktop-width) {
  .programm-of-diet {
    grid-template-areas:
      "image       title"
      "description description"
      "button      button";
  }
}
