.promo {
  font-size: 36px;
  line-height: 36px;
  color: $white-text;
  width: 100%;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 63%;
    background-image:
      linear-gradient(to bottom,
      rgba(104, 183, 56, 0.85) 100%,
      transparent 100%),
      url("../../images/index-background-mobile@2x.jpg");
    background-size: cover, 100%;
    background-repeat: no-repeat;
    background-position: top;
  }

  &.no-js {
    margin-top: 65px;
  }

  &__title {
    line-height: 36px;
    font-size: 36px;
    font-weight: 400;
    text-align: center;
    min-height: 72px;
    z-index: 3;

    @include null;
    padding-top: 27px;
  }

  &__slogan {
    @include null;
    z-index: 3;
    line-height: 14px;
    font-size: 14px;
    text-transform: uppercase;
    padding-top: 25px;
    padding-bottom: 30px;
  }

  &__image {
    z-index: 1;
  }
}

.promo__wrap {
  display: grid;
  justify-items: center;
  justify-content: center;
  position: relative;
  padding: 0 $mobile-padding;
}

@media screen and (min-width: $tablet-width) {
  .promo {

    background-image: unset;

    &__title {
      grid-area: title;
      font-size: 60px;
      line-height: 60px;
      text-align: left;
      padding-top: 40px;
      padding-left: 90px;
    }

    &__slogan {
      grid-area: slogan;
      font-size: 20px;
      line-height: 20px;
      text-align: left;
      padding: 40px 0;
      padding-left: 90px;
    }

    &__link {
      grid-area: button;
      margin-top: 10px;
      margin-left: 90px;
    }

    &__image {
      margin-top: -80px;
    }

    &::after {
      display: none;
    }
  }

  .promo__wrap {
    grid-template-areas:
      "title"
      "slogan"
      "button"
      "image";
    color: $main-color;
    justify-items: start;
  }
}


@media screen and (min-width: $desktop-width) {
  .promo {
    &__title {
      padding-top: 0;
      padding-left: 0;
      font-size: 60px;
      line-height: 60px;
      place-self: center start;
    }

    &__slogan {
      padding: 0;
      place-self: center start;
    }

    &__link {
      place-self: center start;
      margin: 0;
    }

    &__image {
      align-self: start;
    }

    &::after {
      display: unset;
      position: absolute;
      content: "";
      top: 0;
      left: 50%;
      width: 50%;
      height: 100%;
      background-image:
        linear-gradient(to right,
        transparent 0%,
        rgba(104, 183, 56, 0.85)
        0%),
        url("../../images/index-background-desktop@2x.jpg");
      background-size: cover, 100%;
      background-repeat: no-repeat;
      background-position: center right;
    }
  }


  .promo__wrap {
    grid-template:
      "title  image"
      "slogan image"
      "button image" / 40% 60%;
    grid-template-rows: 150px 90px 100px;
    justify-content: start;
    padding: 205px $desktop-padding 150px 190px;
  }
}
