.sub-products__title {
  font-size: 16px;
  line-height: 16px;
}

.sub-products__text {
  font-family: $regular-font;
  font-size: 14px;
  line-height: 14px;
}

.sub-products__text--promotion {
  background-image: url("../../icons/stack.svg#gift-icon");
  background-color: #cccccc;
}

